{% extends 'blog/base.html' %}

{% block title %} Home {% endblock %}

{% block css %}
  <style>
    
    body {
      background: rgba(228, 235, 235, 0.568);
    }

    .post {
      background: white;
      box-shadow: 0px 0px 15px 3px rgb(211, 212, 212);
    }

    .post-img {
      object-fit: cover;
      width: 286px;
      height: 170px;
    }

    .post-title {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
    }

    .post-content {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      overflow: hidden;
    }

    .post {
      cursor: pointer;
    }

  </style>
{% endblock %}

{% block body %} 

  <div class="w-75 mx-auto">
    <div class="row my-4 mx-5">

      {% for post in posts %}
        <div class="col-md-4 p-2">
          <div class="card post" style="width: 18rem;" id="{{ post.slug }}">
            <img class="card-img-top post-img" src="/media/{{ post.image }}" alt="post image">
            <div class="card-body px-4 py-2">
              <h5 class="card-title mb-2 post-title">{{ post.title.capitalize }}</h5>
              <p class="card-text d-inline text-primary">{{ post.author.capitalize }}</p>
              <p class="card-text d-inline">| {{ post.post_date|date:"M d Y" }}</p>
              <div class="mt-2 mb-4 card-text text-secondary post-content">
                  {{ post.content.capitalize }}
              </div>  
            </div>
          </div>
        </div>
      {% endfor %}

    </div>
  </div>
  
{% endblock %}

{% block js %}
  <script>
    $('.post').on('click', function () {
      slug = this.id.toString()
      window.open('p/' + slug, '_blank')
    })
  </script>
{% endblock  %}
