{% extends 'blog/base.html' %}

{% block title %} Login {% endblock %}

{% block body %}

    <h1 class="my-5 font-weight-normal text-center">Login to your Account</h1>
    <div class="row mt-5">
        <div class="col-12 col-lg-3 col-md-4 col-sm-6 text-center mx-auto">
            <form method="POST" action="" class="form-signin mx-3 mt-4"> {% csrf_token %}
                <label for="username" class="sr-only">username</label>
                <input type="text" name="username" id="username" class="form-control" placeholder="username" required autofocus />
                <label for="password" class="sr-only">password</label>
                <input type="password" name="password" id="password" class="form-control mt-3" placeholder="password" required />
                {% if loginFailure %}
                    <small class="text-danger">username or password is wrong</small>
                {% endif %}
                <button type="submit" class="btn btn-block py-2 mt-4" style="border: none; border-radius: 5px; background-color: #09A7FA;">Login</button>
                <p class="mt-5 pt-5 mb-3 text-muted">&copy; shoppersPlace.com</p>
            </form>
        </div>
    </div>

{% endblock %}